
@{
    ViewBag.Title = "Index";
}

<div id="app">
    <h2>ToDo - tasks</h2>
    <hr />

    <button type="button" class="btn btn-primary" v-on:click="createCard" data-toggle="modal" :data-target="'#' + counter">Create task</button>

    <div class="form-container container">

        <litask :p-forms="forms"
                :p-input="modalInput"
                v-on:deleteelement="deleteTaskFromId"
                v-on:parentupdate="updateTaskFromObject"
                v-on:senddataparent="saveModalFormData"
                v-on:saveorder="saveOrder">

        </litask>

        @* Este componente es el que se utilizará con el botón "createCard" *@

        @* Los valores de las props de modalcomponent estan establecidas por defecto a '', por eso no hace falta darles valor al llamar al componente por primera vez... *@

        <modalcomponent @*:id="counter"*@
                        :task="computedBlankTask"
                        v-on:savecontent="updateTaskFromObject"
                        v-on:exitwithoutsaving="deleteTaskFromId">

        </modalcomponent>

    </div>
</div>

@{Html.RenderPartial("~/Views/Vue/Components/_liTask.cshtml");}
@{Html.RenderPartial("~/Views/Vue/Components/_modalComponent.cshtml");}

@Scripts.Render("~/Content/app.js")