
@{
    ViewBag.Title = "Index";
}
<div id="app">
    <h2>ToDo - tasks</h2>
    <hr />

    <button type="button" class="btn btn-primary">Create task</button>

    <div class="form-group">
        <form class="card card-body" style="width: 23rem; padding:30px 20px;" v-on:submit.prevent="onSubmit" v-if="deleted === false">
            <div class="mb-3">
                <label class="form-label">Name</label>
                <input type="text" class="form-control" name="Name" v-model="form.name">
            </div>
            <div class="mb-3">
                <label class="form-label">Surname</label>
                <input type="text" class="form-control" name="Surnames" v-model="form.surnames">
            </div>
            <div class="mb-3">
                <label class="form-label">Task description</label>
                <textarea class="form-control" name="Description" rows="3" v-model="form.description"></textarea>
            </div>
            <button v-on:click="deleteCard" type="button" class="btn btn-danger" style="margin: 30px 20px 0px 20px ">Delete Task</button>
        </form>
    </div>
</div>
<script>

</script>